@import '~src/styles/variables.scss';

.btn {
  width: fit-content;
  padding: 10px 20px;
  border: $border-width solid $primary-color;
  border-radius: $border-radius;
  background: $secondary-color;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $secondary-color;
    background: $primary-color;
    transform: scale(1.05);
    transition: $transition;
  }

  &.disabled {
    $color: rgba(0, 0, 0, 0.4);
    $bg-color: rgba(0, 0, 0, 0.2);
    color: $color;
    background-color: $bg-color;
    border-color: $bg-color;

    &:hover {
      transform: scale(1);
      color: $color;
      background: $bg-color;
      transition: none;
      cursor: not-allowed;
    }
  }
}