@import '~src/styles/variables';

.btn {
  width: fit-content;
  padding: 10px 20px;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
  background: $secondary-color;
  border: $border-width solid $primary-color;
  border-radius: $border-radius;
  transition: $transition;

  &:hover {
    color: $secondary-color;
    background: $primary-color;
    transition: $transition;
    transform: scale(1.05);
  }

  &.disabled {
    $color: rgb(0 0 0 / 40%);
    $bg-color: rgb(0 0 0 / 20%);

    color: $color;
    background-color: $bg-color;
    border-color: $bg-color;

    &:hover {
      color: $color;
      cursor: not-allowed;
      background: $bg-color;
      transition: none;
      transform: scale(1);
    }
  }
}