@import '~src/styles/variables'; 

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: $s-text-size;
  background-color: transparent;
  border: none;
  border-bottom: $border-bottom;
  outline: none;
}