.textCenter {
  text-align: center;
}

.mt25 {
  margin-top: 25px;
}

/* for inputs(search, logins inputs)  */
.inputWrapper { position: relative; }

.errorField {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}