$primary-color: black;
$secondary-color: white;
$tertiary-color: red;
$quaternary-color: green;
$l-text-size: 24px;
$m-text-size: 20px;
$s-text-size: 16px;
$transition: all 0.25s ease-out;
$border-width: 1px;
$border-radius: 12px;
$border-bottom: $border-width solid $primary-color;