.moviePage {
  position: relative;
  margin-top: 40px;

  // 50px - height of header
  // 40px - margin-top
  height: calc(100vh - 90px);
}

.contenWrapper {
  display: grid !important;
  gap: 20px;
}

.actionPanel {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  gap: 50px;
}

.starWrapper {
  display: flex;
  align-items: center;
}

.star {
  width: 100%;
  max-width: 35px;
  cursor: pointer;
}