@import '~src/styles/variables.scss'; 

.info {
  cursor: pointer;
}

.infoLogin {
  display: flex;
  justify-content: flex-end;
}

.modalAuth {
  position: absolute;
  display: grid;
  gap: 15px;
  background: $secondary-color;
  border: $border-width solid $primary-color;
  bottom: -125px;
  border-radius: $border-radius;
  padding: 10px;
}

.logoutBtn {
  cursor: pointer;
}